{% extends 'base.html' %}
{% block content %}
<div class="container-fluid title">
    <div class="row">
        <div class="col-sm-12">
            <h2>착한탕국은 ...</h2>
        </div>
    </div>
</div>
<div class="container-fluid cart-list">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6" >
            <p>
            착한 탕국은 이러이러 해서 만들어진 저러저러한 국집입니다. 착한 탕국은 이러이러 해서 만들어진 저러저러한 국집입니다.착한 탕국은 이러이러 해서 만들어진 저러저러한 국집입니다.착한 탕국은 이러이러 해서 만들어진 저러저러한 국집입니다. 저희의 장점은
            </p>
            <ul>
                <li>
                맛있습니다.
                </li>
                <li>
                신선합니다.
                </li>
                <li>
                청결합니다.
                </li>
            </ul>
            <p>
            국은 필수입니다.
            </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6" >
            <img src="{{url_for('static',filename='files/chef.jpg')}}" class="img-responsive">
        </div>
    </div>
    <div class="row" style="margin: 30px -15px;">
        <div class="col-sm-12" >
            <blockquote>
                <p>
                오늘 먹을 국을 내일로 미루지 말라
                </p>
                <footer><cite>착한탕국</cite></footer>
            </blockquote>
        </div>
    </div>
</div>
{% endblock %}
