{% extends 'base.html' %}
{% block content %}
<div class="container-fluid title">
    <div class="row">
        <div class="col-sm-12">
            <h2>착한탕국은 ...</h2>
        </div>
    </div>
</div>
<div class="container-fluid cart-list">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6" >
            <p>
            안녕하십니까
            착한탕국 대표 김종현입니다.우선 저희 홈페이지를 찾아주신 고객님께 깊은 감사의 말씀을 드립니다.
            저희 착한탕국은 15년 전 가족과 함께 국과탕을 만드는 작은 매장에서 출발했습니다
            그날 만든 국을 그날 판매한다는 당일 생산 당일 판매 목표를 두었기에 처음에는 많은 어려움이 있었습니다.
            그러나 저희 가족들의 굳은 신념을 알아주시는 고객님들의 성원과 지지에 힘 입어
            지금은 5곳의 매장과 수원,용인등..아파트알뜰시장20곳을 가족들과 함께운영하게되었고
            그만큼 대량의 재료공급으로 인해 신선함과 가격의 경쟁력까지 갖추게 되었습니다.

            그동안 오프라인에서만 판매하던 포장국을
            고객님들께 더욱 편하게 다가가기 위해
            온라인,스마트폰 앱을 이용한 배달서비스를 시작합니다
            배달판매 역시 당일생산 당일판매 원칙을 지키겠습니다.


            건강하고 맛있는 국 과 탕을 이제는 손쉽게 가정에서 배달받아 보시길 바랍니다

            앞으로도 정말 착한탕국을 만드는 "착한탕국"이 되겠습니다
            </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6" >
            <img src="{{url_for('static',filename='files/people/IMG_2645.JPG')|resize('1140x760')}}" class="img-responsive">
        </div>
    </div>
    <div class="row" style="margin: 30px -15px;">
        <div class="col-sm-12" >
            <blockquote>
                <p>
                오늘 먹을 국을 내일로 미루지 말라
                </p>
                <footer><cite>착한탕국</cite></footer>
            </blockquote>
        </div>
    </div>
</div>
{% endblock %}
