{% extends 'base.html' %}
{% block content %}
<style>
.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}
</style>
<div class="container-fluid title">
    <div class="row">
        <div class="col-sm-12">
            <h2>관리자 페이지</h2>
        </div>
    </div>
</div>
<div class="container-fluid cart-list">
    <div class="row">
        <div class="col-sm-12 blog-content">
            <div class="pull-right">
                <form action="/admin" method="GET" class="">
                    <div style="display:inline-block;width: 40%; padding-right: 10px;padding-left:15px;">
                        <input id="q" name="q" class="form-control" placeholder="전화번호로 검색" type="text" >
                    </div>
                    <select id="gu" name="gu" class="form-control" style="display:inline-block;width:150px;">
                        <option>전체</option>
                        <option>영통구</option>
                        <option>권선구</option>
                        <option>기흥구</option>
                    </select>

                    <div style="display:inline-block;">
                        <button id="search_button" class="btn" type="submit" style="margin-bottom:1px;height:34px;line-height:24px;">검색</button>
                    </div>
                </form>
            </div>

            {{ ret.pagination.info }}

            <table class="table table-striped table-bordered">
                <thead >
                    <tr>
                        <th style="5%;text-align:center;" >
                            No
                        </th>
                        <th style="width:27%;text-align:center;">
                            주소
                        </th>
                        <th style="width:25%;text-align:center;">
                            국 
                        </th>
                        <th style="width:5%;text-align:center;">
                            구매자
                        </th>
                        <th style="width:12%;text-align:center;">
                            전화번호
                        </th>
                        <th style="width:8%;text-align:center;">
                            총 가격
                        </th>
                        <th style="width:9%;text-align:center;">
                            날짜
                        </th>
                        <th style="width:9%;text-align:center;">
                            배송 상태
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for payment in ret.payments %}
                <tr> 
                    <th scope="row" style="width:5%;text-align:right;">
                        {{ payment.id }}
                    </th>
                    <td style="width:27%;">
                        {{ payment.address }}
                    </td>
                    <td style="width:25%;">
                        {% for soup in payment.soups %}
                            {% if soup != payment.soups[0] %}
                            ,&nbsp;
                            {% endif %}
                            {{soup.name}} {{soup.soup_cnt}}개
                        {% endfor %}
                    </td>
                    <td style="width:5%;">
                        {{ payment.user.username }} 
                    </td>
                    <td style="width:12%;text-align:center;">
                        {{ payment.tel }}
                    </td>
                    <td style="width:8%;text-align:center;">
                        {{ '{:,}'.format(payment.paid_amount|int) }}원
                    </td>
                    <td style="width:9%;text-align:center;">
                        {{ payment.created_at.strftime('%Y-%m-%d') }}
                    </td>
                    <td style="width:9%;text-align:center;">
                        <select id="state-{{payment.id}}" name="state-{{payment.id}}" class="form-control">
                            <option {% if payment.state == 0 %}selected="selected"{% endif %} value="0">
                                배송전
                            </option>
                            <option {% if payment.state == 1 %}selected="selected"{% endif %} value="1">
                                배송완료
                            </option>
                        </select>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <center>
                {{ ret.pagination.links }}
            </center>
        </div>
        <!--
        <div class="col-sm-3 blog-sidebar">
        </div>
        -->
    </div>
</div>
<script>
$(document).ready(function() {
     $('.pagination ul').addClass('pagination');
     $('select').change(function() {
         var payment_id = $(this).attr('id').split('-')[1];
         var payment_state = $(this).val();
         var data = {
            "payment_id": payment_id,
            "payment_state": payment_state
         };
         $.ajax({
            url: 'payment_state_edit',
            data: data,
            type: 'POST',
            success: function(response) {
                console.log(response);
            },
            error: function(error) {
                console.log(error);
            }
         });
     });
});
</script>
{% endblock %}
