{% extends 'base.html' %}
{% block content %}
<style>
.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}
</style>
<div class="container-fluid title">
    <div class="row">
        <div class="col-sm-12">
            <h2>전체글보기</h2>
        </div>
    </div>
</div>
<div class="container-fluid cart-list">
    <div class="row">
        <div class="col-sm-9 blog-content">
            <article>
                <header>
                    <h1>
                            {{ ret.board.title }}
                    {% if 'logged_in' in session and (ret.board.user.id == session['user_id'] or session['level'] == 99) %}
                    <div class="pull-right">
                        <a href="/board_update/{{ret.board.id}}">
                            <button class="btn-warning " style="border:0;font-size:20px;padding:10px;">글 수정</button>
                        </a>
                        <button class="btn-danger " style="border:0;font-size:20px;padding:10px;" data-toggle="modal" data-target="#delete-board-modal-{{ret.board.id}}">글 삭제</button>
                        {% include "delete_board_confirm_modal.html" %}
                    </div>
                    {% endif %}
                    </h1>
                </header>
                <div class="post-date">
                    {{ret.board.created_at}} | <a href="#">{{ ret.board.user.username }} </a>
                </div>
                <div class="content">
                    <div class="summernote">
                        {{ ret.board.body | safe }}
                    </div>
                    <hr style="margin-top:150px;">
                    <h3 >{{ ret.comments | length }} 개의 댓글</h3>
                    {% for comment in ret.comments %}
                    <div class="media">
                        <a class="pull-left avatar" href="#">
                            <img class="media-object img-circle" src="{{url_for('static',filename='img/avatar.png')}}" width="40" height="40" alt="">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">{{comment.user.username}}</a>
                                <span>{{comment.created_at.strftime('%Y-%m-%d')}} | </span></h4>
                            <p>
                            {{ comment.body }}
                            {% if 'logged_in' in session and (session['user_id'] == comment.user.id or session['level'] == 99) %}
                            <i class="fa fa-remove" id="comment-remove-{{comment.id}}" style="padding-left:10px;" data-toggle="modal" data-target="#delete-comment-modal-{{comment.id}}"></i>
                            {% endif %}


                            </p>
                        </div>
                    </div> 
                    {% include "delete_comment_confirm_modal.html" %}
                    {% endfor %}
                    {% if 'logged_in' in session %}
                    <form action="/save_comment/{{ret.board.id}}" method="post" class="myform">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 wow fadeInUp" >
                                <div class="form-group">
                                    <label class="control-label">댓글을 달려면 로그인해주세요.</label>
                                    <div class="controls">
                                        {{ ret.comment_create_form.body(placeholder="댓글을 달려면 로그인해주세요",class="form-control")}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4">
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <button name="submit" type="submit" class="btn btn-block pull-right" >댓글 저장</button>
                                    <input type="hidden" name="submitted" id="submitted3" value="true">
                                </div>
                            </div>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </article>
        </div>
        <div class="col-sm-3 blog-sidebar">
            {% include "board_category.html" %}
        </div>
    </div>
</div>
{% endblock %}
