<div class="widget">
    <h3>착한 탕국 배너</h3>
    <p>
    설명 혹은 광고?
    </p>
    <hr>
</div>
<div class="widget">
    <h3>카테고리</h3>
    <ul class="nav" style="padding-left:0;">
        <li style="border-bottom:1px solid #eeeeee;"><a href="/board/0"><i class="fa fa-book"></i> &nbsp;전체글보기</a></li>
        <li style="border-bottom:1px solid #eeeeee;"><a href="/board/1"><i class="fa fa-exclamation"></i> &nbsp;&nbsp;&nbsp;공지사항</a></li>
        <li style="border-bottom:1px solid #eeeeee;"><a href="/board/2"><i class="fa fa-pencil"></i> &nbsp;자유게시판</a></li>
        <li><a href="/board/3"><i class="fa fa-question"></i> &nbsp;&nbsp;&nbsp;질문/답변</a></li>
    </ul>
    <hr>
</div>
