{% extends 'base.html' %}
{% block content %}
<style>
.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}
</style>
<div class="container-fluid title">
    <div class="row">
        <div class="col-sm-12">
            <h2>게시판</h2>
        </div>
    </div>
</div>
<div class="container ">
    
</div>
{% endblock %}
