{% extends "base.html" %}
{% block content %}
<style>
#gu-col {
    padding: 0px 10px 0px 10px;
}
@media screen and (max-width: 767px) {
    #gu-col {
        padding: 0;
    }
    #si, #gu, #dong {
        margin-bottom: 10px;
    }
}
</style>
<div class="container-fluid title">
    <div class="row">
        <div class="col-sm-12">
            <h2>배송정보</h2>
        </div>
    </div>
</div>

<div class="container-fluid cart-list">
    <div class="row">
        <div class="col-sm-6">
            <form action="#" method="post" novalidate id="order-form" class="myform">
                <h3 class="text-center">배송정보
                </h3>
                {% if 'logged_in' in session %}
                <div class="pull-right checkbox" style="margin-top:0px;">
                    <label>
                        <input type="checkbox" id="load_user" name="load_user"> 
                        <span>회원 정보 불러오기
                        </span>
                    </label>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">이름</label>
                            <input id="name" name="name" placeholder="이름" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="local-search" id="local-search">
                        <div class="company-item-region" id="sigudong-search" >
                            <div class="item_box item-region on">
                                <div class="col-sm-4" style="padding:0;">
                                    <select name="si" id="si" class="form-control" tabindex="9">
                                        <option>서울시</option>
                                    </select>
                                </div>
                                <div class="col-sm-4" id="gu-col">
                                    <select name="gu" id="gu" class="form-control" tabindex="9">
                                        <option>전체</option>
                                    </select>
                                </div>
                                <div class="col-sm-4" style="padding:0;">
                                    <select name="dong" id="dong" class="form-control" tabindex="9" >
                                        <option>전체</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">나머지 주소</label>
                    <input id="address" name="address" placeholder="나머지 주소" class="form-control" type="text" style="margin-top:15px;">
                </div>
                <div class="form-group">
                    <label class="control-label">연락처</label>
                    <input id="phone" name="phone" placeholder="연락처" class="form-control" type="text">
                </div>
            </form>
        </div>
        <div class="col-sm-6 ">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="3" class="text-center">주문 요약 </th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>가격 :</td>
                    <td></td>
                    <td class="text-right"><b>{{'{:,}'.format(ret.total_price)}}원</b></td>
                </tr>
                <tr>
                    <td>배송비 :</td>
                    <td></td>
                    <td class="text-right">0원</td>
                </tr>
                <tr>
                    <td>부가세 :</td>
                    <td></td>
                    <td class="text-right">0원</td>
                </tr>
                <tr>
                    <td>총 :</td>
                    <td></td>
                    <td id="total" class="text-right">
                        {{ '{:,}'.format(ret.total_price)}}원
                    </td>
                </tr>
                </tbody>
            </table>
            {% if ret.total_price != 0 %}
            <div id="pay" class="btn btn-right">결제하기</div>
            {% else %}
            <a href="/" class="btn btn-right">장바구니가 비었습니다</a>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-center show-more">
            <a href="/" class="btn btn-outline">돌아가기</a>
        </div>
    </div>

</div>
<script type="text/javascript">
    window.state = {};
function bindLocal1(obj) {
        var map = window.state.map;
        var selects = $(".local-search " + obj + " select");
        var local1 = $(selects[0]);
        var local2 = $(selects[1]);
        var local3 = $(selects[2]);
        local1.attr("disabled", false);
        local2.attr("disabled", true);
        local3.attr("disabled", true);
        local1.children().remove();
        var items = window.state.addresses;       
        local1.append($("<option />").text("경기도").val("경기도"));
        /*
        $(items).each(function (i, item) {
            local1.append($("<option />").text(item.name).val(item.name));
        });
        */
        
    }
    function bindLocal2(obj) {
        var selects = $(".local-search " + obj + " select");
        var local1 = $(selects[0]);
        var local2 = $(selects[1]);
        var local3 = $(selects[2]);
        var v1 = local1.val();
        var node = findNode(v1);
        var option = $("<option />").text("전체");
        local2.children().remove();
//        local2.append(option);
        if (node && node.items) {
            local2.append($("<option />").text("수원시 권선구"));
            local2.append($("<option />").text("수원시 영통구"));
            local2.append($("<option />").text("수원시 장안구"));
            local2.append($("<option />").text("수원시 팔달구"));
            local2.attr("disabled", false);
            /*
            for (var j = 0; j < node.items.length; j++) {
                var item2 = node.items[j];
                var option = $("<option />").text(item2.name);
                local2.append(option);
                local2.attr("disabled", false);
            }
            */
        } else {
            local2.attr("disabled", true);
        }
    }
    function bindLocal3(obj) {
        var selects = $(".local-search " + obj + " select");
        var local1 = $(selects[0]);
        var local2 = $(selects[1]);
        var local3 = $(selects[2]);
        var v1 = local1.val();
        var v2 = local2.val();
        var node = findNode(v1, v2);
        if (node) {
            var option = $("<option />").text("전체");
            local3.children().remove();
            local3.append(option);
        }
        if (node && node.items) {
            for (var j = 0; j < node.items.length; j++) {
                var item2 = node.items[j];
                var option = $("<option />").text(item2.name);
                local3.append(option);
                local3.attr("disabled", false);
            }
        } else {
            var option = $("<option />").text("전체");
            local3.children().remove();
            local3.append(option);
            local3.attr("disabled", true);
        }
        
    }
function findNode(v1, v2, v3) {
        if (v1) {
            var local1s = window.state.addresses;
            for (var i = 0; i < local1s.length; i++) {
                var local1 = local1s[i];
                if (local1.name == v1) {
                    if (v2) {
                        var local2s = local1.items;
                        for (var j = 0; j < local2s.length; j++) {
                            var local2 = local2s[j];
                            if (local2.name == v2) {
                                if (v3) {
                                    var local3s = local2.items;
                                    for (var k = 0; k < local3s.items; k++) {
                                        var local3 = local3s[k];
                                        if (local3 == v3) {
                                            return local3;
                                        }
                                    }
                                    return null;
                                }
                                return local2;
                            }
                        }
                        return null;
                    }
                    return local1;
                }
            }
        }
        return null;
    }
function initLocalSearch() {
    var items = $(".local-search .company-item-region select");
        var local1 = $(items[0]);
        local1.children().remove();
        local1.append($("<option />").text("로딩 중"))
        local1.attr("disabled", true);
        local1.change(function () {
            bindLocal2(".company-item-region");
            bindLocal3(".company-item-region");
        });
        var local2 = $(items[1]);
        local2.attr("disabled", true);
        local2.change(function () {
            bindLocal3(".company-item-region");
        });
        var local3 = $(items[2]);
        local3.attr("disabled", true);
        $.when(
             $.ajax({
                 url: "/json/address"
             })
        ).done(function (data) {
            data = data.results;
            var new_data = [];
            new_data.push(data[8]);
            new_data.push(data[1]);
            new_data.push(data[11]);
            new_data.push(data[7]);
            new_data.push(data[5]);
            new_data.push(data[6]);
            new_data.push(data[10]);
            new_data.push(data[9]);
            new_data.push(data[4]);
            new_data.push(data[0]);
            new_data.push(data[16]);
            new_data.push(data[15]);
            new_data.push(data[3]);
            new_data.push(data[2]);
            new_data.push(data[13]);
            new_data.push(data[12]);
            new_data.push(data[14]);
            window.state.addresses = new_data
            bindLocal1(".company-item-region");
            bindLocal2(".company-item-region");
            bindLocal3(".company-item-region");
            $(".item_submit").removeAttr("disabled");
        });
    $(".local-search .company-item-region button").click(function () {
        var selects = $(".local-search .company-item-region select");
        var local1 = $(selects[0]);
        var local2 = $(selects[1]);
        var local3 = $(selects[2]);
        var selected = !local3.is(":disabled") ? local3.find("option:selected") : local2.find("option:selected");
        var lat = selected.data("lat");
        var lng = selected.data("lng");
        var zoom = 20 - parseInt(selected.data("zoom"));
        location.href = "/search/map?lat=" + lat + "&lng=" + lng + "&zoom="+ zoom;
    });
}
$(document).ready(function() {
    IMP.init('imp27079569');
    initLocalSearch();
    $('#load_user').change(function() {
        if ( this.checked ) {
            $('#name').val("{{session['username']}}");
            $('#phone').val("{{session['tel']}}");
            if ( "{{session['si']}}" == "경기도" ) {
                if ( "{{session['gu']}}" == "수원시 권선구" ) {
                    $("#gu").val("수원시 권선구").attr("selected","selected");
                    bindLocal3(".company-item-region");
                    $("#dong").val("{{session['dong']}}").attr("selected","selected");
                    $("#address").val("{{session['address']}}").attr("selected","selected");
                } else if ( "{{session['gu']}}" == "수원시 영통구" ) {
                    $("#gu").val("수원시 영통구").attr("selected","selected");
                    bindLocal3(".company-item-region");
                    $("#dong").val("{{session['dong']}}").attr("selected","selected");
                    $("#address").val("{{session['address']}}").attr("selected","selected");
                } else if ( "{{session['gu']}}" == "수원시 장안구" ) {
                    $("#gu").val("수원시 장안구").attr("selected","selected");
                    bindLocal3(".company-item-region");
                    $("#dong").val("{{session['dong']}}").attr("selected","selected");
                    $("#address").val("{{session['address']}}").attr("selected","selected");
                } else if ( "{{session['gu']}}" == "수원시 팔달구" ) {
                    $("#gu").val("수원시 팔달구").attr("selected","selected");
                    bindLocal3(".company-item-region");
                    $("#dong").val("{{session['dong']}}").attr("selected","selected");
                    $("#address").val("{{session['address']}}").attr("selected","selected");
                }
            }
        }
    });
});
$('#pay').click(function() {
IMP.request_pay({
    pg : 'html5_inicis',
    pay_method : 'card',
    merchant_uid : 'merchant_' + new Date().getTime(),
    name : '주문명:결제테스트',
    amount : {{ret.total_price}},
    buyer_email : 'iamport@siot.do',
    buyer_name : '구매자이름',
    buyer_tel : '010-1234-5678',
    buyer_addr : '서울특별시 강남구 삼성동',
    buyer_postcode : '123-456'
    }, function(rsp) {
    if ( rsp.success ) {
    var msg = '결제가 완료되었습니다.';
    msg += '고유ID : ' + rsp.imp_uid;
    msg += '상점 거래ID : ' + rsp.merchant_uid;
    msg += '결제 금액 : ' + rsp.paid_amount;
    msg += '카드 승인번호 : ' + rsp.apply_num;
    } else {
    var msg = '결제에 실패하였습니다.';
    msg += '에러내용 : ' + rsp.error_msg;
    }

    alert(msg);
    });
});
</script>
{% endblock %}
