{% extends 'base.html' %}
{% block content %}
<div class="container-fluid title">
    <div class="row">
        <div class="col-sm-12">
            <h2>비밀번호 찾기</h2>
        </div>
        <form action="/send_new_password" method="post">
            {{ ret.find_password_form.hidden_tag() }}
            <div style="display:table-cell;width: 100%; padding-right: 10px;padding-left:15px;">
                {% for message in ret.find_password_form.email.errors %}
                <div class="flash">{{message}}</div>
                {% endfor %}
                {{ ret.find_password_form.email(placeholder="이메일",class="form-control") }}
            </div>
            <div style="display:table-cell;">
                <button id="search_button" class="btn" type="submit" style="margin-bottom:1px;height:34px;line-height:24px;">검색</button>
            </div>
        </form>
    </div>
</div>
<br><br><br>
<br><br><br>
<br><br><br>
<script>
$(document).ready(function() {
});
</script>
{% endblock %}
