{% extends 'base.html' %}
{% block content %}
<style>
#gu-col {
    padding: 0px 10px 0px 10px;
}
#address {
    margin-top: 15px;
}
@media screen and (max-width: 767px) {
    #gu-col {
        padding: 0;
    }
    #si, #gu, #dong {
        margin-bottom: 10px;
    }
}
</style>
<div class="container-fluid cart-list">
    <div class="row">
        <div class="col-sm-6">
            <form action="/signin" method="post" novalidate  class="myform">
                {{ ret.signin_form.hidden_tag() }}
                <h2 class="text-center">로그인</h2>

                <div class="form-group">
                    <label class="control-label">이메일</label>
                    {% for message in ret.signin_form.email.errors %}
                    <div class="flash">{{ message }}</div>
                    {% endfor %}
                    {{ ret.signin_form.email(placeholder="이메일",class="form-control") }}
                </div>
                <div class="form-group">
                    <label class="control-label">비밀번호</label>
                    {% for message in ret.signin_form.password.errors %}
                    <div class="flash">{{ message }}</div>
                    {% endfor %}
                    {{ ret.signin_form.password(placeholder="비밀번호",class="form-control") }}
                </div>

                <div class="checkbox">
                    <label>
                        {{ ret.signin_form.auto_login }}
                        <span>Remember Me</span>
                    </label>
                </div>

                <!--                            <div class="radio">
                              <label>
                                <input type="radio" value="option1" >
                                <span>Option one is this and that&mdash;be sure</span>
                              </label>
                            </div> -->

                <p><button name="submit" type="submit" class="btn btn-store btn-block">로그인</button></p>
            </form>
        </div>
        <div class="col-sm-6">
            <form action="/signup" method="post" novalidate class="myform">
                {{ ret.signup_form.hidden_tag() }}
                <h2 class="text-center">회원가입</h2>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">이름</label>
                            {% for message in ret.signup_form.username.errors %}
                            <div class="flash">{{ message }}</div>
                            {% endfor %}
                            {{ret.signup_form.username(placeholder="이름",class="form-control")}}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">이메일</label>
                    {% for message in ret.signup_form.email.errors %}
                    <div class="flash">{{ message }}</div>
                    {% endfor %}
                    {{ ret.signup_form.email(placeholder="이메일", class="form-control") }}
                </div>
                <div class="form-group">
                    <label class="control-label">비밀번호</label>
                    {% for message in ret.signup_form.password.errors %}
                    <div class="flash">{{ message }}</div>
                    {% endfor %}
                    {{ ret.signup_form.password(placeholder="비밀번호", class="form-control") }}
                </div>
                <div class="form-group">
                    <label class="control-label">비밀번호 확인</label>
                    {% for message in ret.signup_form.password_check.errors %}
                    <div class="flash">{{ message }}</div>
                    {% endfor %}
                    {{ ret.signup_form.password_check(placeholder="비밀번호 확인", class="form-control") }}
                </div>
                <div class="form-group">
                    <div class="local-search" id="local-search">
                        <div class="company-item-region" id="sigudong-search" >
                            <div class="item_box item-region on">
                                <div class="col-sm-4" style="padding:0;">
                                    <select id="si" name="si" class="form-control" tabindex="9">
                                        <option>서울시</option>
                                    </select>
                                </div>
                                <div class="col-sm-4" id="gu-col">
                                    <select id="gu" name="gu" class="form-control" tabindex="9">
                                        <option>전체</option>
                                    </select>
                                </div>
                                <div class="col-sm-4" style="padding:0;">
                                    <select id="dong" name="dong" class="form-control" tabindex="9" >
                                        <option>전체</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">나머지 주소</label>
                    {% for message in ret.signup_form.address.errors %}
                    <div class="flash">{{ message }}</div>
                    {% endfor %}
                    {{ ret.signup_form.address(placeholder="나머지 주소" ,class="form-control") }}
                </div>
                <div class="form-group">
                    <label class="control-label">연락처</label>
                    {% for message in ret.signup_form.tel.errors %}
                    <div class="flash">{{ message }}</div>
                    {% endfor %}
                    {{ ret.signup_form.tel(placeholder="연락처(XXX-XXXX-XXXX형식으로 입력)", class="form-control") }}
                </div>

                <p><button name="submit" type="submit" class="btn btn-store btn-block">회원가입</button></p>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-center show-more">
            <a href="/" class="btn btn-outline">돌아가기</a>
        </div>
    </div>

</div>
<script type="text/javascript">
    window.state = {};
function bindLocal1(obj) {
        var map = window.state.map;
        var selects = $(".local-search " + obj + " select");
        var local1 = $(selects[0]);
        var local2 = $(selects[1]);
        var local3 = $(selects[2]);
        local1.attr("disabled", false);
        local2.attr("disabled", true);
        local3.attr("disabled", true);
        local1.children().remove();
        var items = window.state.addresses;
        $(items).each(function (i, item) {
            local1.append($("<option />").text(item.name).val(item.name));
        });

    }
    function bindLocal2(obj) {
        var selects = $(".local-search " + obj + " select");
        var local1 = $(selects[0]);
        var local2 = $(selects[1]);
        var local3 = $(selects[2]);
        var v1 = local1.val();
        var node = findNode(v1);
        var option = $("<option />").text("전체");
        local2.children().remove();
        local2.append(option);
        if (node && node.items) {
            for (var j = 0; j < node.items.length; j++) {
                var item2 = node.items[j];
                var option = $("<option />").text(item2.name);
                local2.append(option);
                local2.attr("disabled", false);
            }
        } else {
            local2.attr("disabled", true);
        }
    }
    function bindLocal3(obj) {
        var selects = $(".local-search " + obj + " select");
        var local1 = $(selects[0]);
        var local2 = $(selects[1]);
        var local3 = $(selects[2]);
        var v1 = local1.val();
        var v2 = local2.val();
        var node = findNode(v1, v2);
        if (node) {
            var option = $("<option />").text("전체");
            local3.children().remove();
            local3.append(option);
        }
        if (node && node.items) {
            for (var j = 0; j < node.items.length; j++) {
                var item2 = node.items[j];
                var option = $("<option />").text(item2.name);
                local3.append(option);
                local3.attr("disabled", false);
            }
        } else {
            var option = $("<option />").text("전체");
            local3.children().remove();
            local3.append(option);
            local3.attr("disabled", true);
        }

    }
function findNode(v1, v2, v3) {
        if (v1) {
            var local1s = window.state.addresses;
            for (var i = 0; i < local1s.length; i++) {
                var local1 = local1s[i];
                if (local1.name == v1) {
                    if (v2) {
                        var local2s = local1.items;
                        for (var j = 0; j < local2s.length; j++) {
                            var local2 = local2s[j];
                            if (local2.name == v2) {
                                if (v3) {
                                    var local3s = local2.items;
                                    for (var k = 0; k < local3s.items; k++) {
                                        var local3 = local3s[k];
                                        if (local3 == v3) {
                                            return local3;
                                        }
                                    }
                                    return null;
                                }
                                return local2;
                            }
                        }
                        return null;
                    }
                    return local1;
                }
            }
        }
        return null;
    }
function initLocalSearch() {
    var items = $(".local-search .company-item-region select");
        var local1 = $(items[0]);
        local1.children().remove();
        local1.append($("<option />").text("로딩 중"))
        local1.attr("disabled", true);
        local1.change(function () {
            bindLocal2(".company-item-region");
            bindLocal3(".company-item-region");
        });
        var local2 = $(items[1]);
        local2.attr("disabled", true);
        local2.change(function () {
            bindLocal3(".company-item-region");
        });
        var local3 = $(items[2]);
        local3.attr("disabled", true);
        $.when(
             $.ajax({
                 url: "/json/address"
             })
        ).done(function (data) {
            data = data.results;
            var new_data = [];
            new_data.push(data[8]);
            new_data.push(data[1]);
            new_data.push(data[11]);
            new_data.push(data[7]);
            new_data.push(data[5]);
            new_data.push(data[6]);
            new_data.push(data[10]);
            new_data.push(data[9]);
            new_data.push(data[4]);
            new_data.push(data[0]);
            new_data.push(data[16]);
            new_data.push(data[15]);
            new_data.push(data[3]);
            new_data.push(data[2]);
            new_data.push(data[13]);
            new_data.push(data[12]);
            new_data.push(data[14]);
            window.state.addresses = new_data
            bindLocal1(".company-item-region");
            bindLocal2(".company-item-region");
            bindLocal3(".company-item-region");
            $(".item_submit").removeAttr("disabled");
        });
    $(".local-search .company-item-region button").click(function () {
        var selects = $(".local-search .company-item-region select");
        var local1 = $(selects[0]);
        var local2 = $(selects[1]);
        var local3 = $(selects[2]);
        var selected = !local3.is(":disabled") ? local3.find("option:selected") : local2.find("option:selected");
        var lat = selected.data("lat");
        var lng = selected.data("lng");
        var zoom = 20 - parseInt(selected.data("zoom"));
        location.href = "/search/map?lat=" + lat + "&lng=" + lng + "&zoom="+ zoom;
    });
}
$(document).ready(function() {
    initLocalSearch();
});
</script>
{% endblock %}
