{% extends 'base.html' %}
{% block content %}
<style>
.myform .form-group label {
    display:block;
}
#gu-col {
        padding: 0px 10px 0px 10px;
}
/*
#address {
    margin-top: 15px;
}
*/
@media screen and (max-width: 767px) {
    #gu-col {
        padding: 0;
    }
    #si, #gu, #dong {
        margin-bottom: 10px;
    }
}
.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}
</style>
<div class="container-fluid title">
    <div class="row">
        <div class="col-sm-12">
            <h2>
                비밀번호 변경
            </h2>
        </div>
    </div>
</div>
<div class="container-fluid cart-list">
    <div class="row">
        <div class="col-sm-9 blog-content">
            <form action="/update_password" method="post" class="myform">
                {{ ret.update_password_form.hidden_tag() }}
                <div class="form-group">
                    <label class="control-label">현재 비밀번호</label>
                    {% for message in ret.update_password_form.cur_password.errors %}
                    <div class="flash">{{ message }}</div>
                    {% endfor %}
                    {{ ret.update_password_form.cur_password(placeholder="현재 비밀번호" ,class="form-control") }}
                </div>
                <div class="form-group">
                    <label class="control-label">변경할 비밀번호</label>
                    {% for message in ret.update_password_form.password.errors %}
                    <div class="flash">{{ message }}</div>
                    {% endfor %}
                    {{ ret.update_password_form.password(placeholder="변경할 비밀번호" ,class="form-control") }}
                </div>
                <div class="form-group">
                    <label class="control-label">변경할 비밀번호 확인</label>
                    {% for message in ret.update_password_form.password_check.errors %}
                    <div class="flash">{{ message }}</div>
                    {% endfor %}
                    {{ ret.update_password_form.password_check(placeholder="변경할 비밀번호 확인", class="form-control") }}
                </div>

                <p><button name="submit" type="submit" class="btn btn-store btn-block">비밀번호 수정</button></p>
            </form>
        </div>
        <div class="col-sm-3 blog-sidebar">
            {% include "mypage_category.html" %}
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
     $('.pagination ul').addClass('pagination');
});
</script>
{% endblock %}
