{% extends 'base.html' %}
{% block content %}
<style>
.store-info {
    font-size:15px;
    padding-bottom: 20px;
}
.store-info-name {
    font-size: 18px;
    font-weight: bold;
}
.store-info-location {
}
.store-info-tel {
}
.store-info-time {
}
#map {
    width:100%;
    height: 600px;
}
@media screen and (max-width: 767px) {
    #map {
        width:100%;
        height:300px;
    }
}
</style>
<div class="container-fluid title">
    <div class="row">
        <div class="col-sm-12">
            <h2>매장안내</h2>
        </div>
    </div>
</div>
<div class="container-fluid cart-list">
    <div class="row">
        <div class="col-sm-4">
            <div class="store-info">
                <div class="store-info-name">
                    정자시장 착한탕국
                </div>
                <div class="store-info-location">
                    경기도 수원시 장안구 정자동 73-31 정자시장내
                </div>
                <div class="store-info-tel">
                    031-241-2121
                </div>
                <div class="store-info-time">
                    <img src="{{url_for('static',filename='img/store_1.jpeg')}}" class="img-responsive" alt="item">
                </div>
                <button id="map-0" class="btn btn-store" style="margin-top:10px;padding-bottom:20px;line-height:30px;height:33px;">
                    지도 보기
                </button>
            </div>

            <div class="store-info">
                <div class="store-info-name">
                    산본시장내 착한탕국
                </div>
                <div class="store-info-location">
                    경기도 군포시 산본1동 221-4 1층 착한탕국
                </div>
                <div class="store-info-tel">
                    031-394-9482
                </div>
                <div class="store-info-time">
                    <img src="{{url_for('static',filename='img/store_2.jpeg')}}" class="img-responsive" alt="item">
                </div>
                <button id="map-1" class="btn btn-store" style="margin-top:10px;padding-bottom:20px;line-height:30px;height:33px;">
                    지도 보기
                </button>
            </div>

            <div class="store-info">
                <div class="store-info-name">
                    목동시장내 착한탕국
                </div>
                <div class="store-info-location">
                    서울 양천구 목동 614-1호 목3동시장내
                </div>
                <div class="store-info-tel">
                    02-2654-8894
                </div>
                <div class="store-info-time">
                    <img src="{{url_for('static',filename='img/store_3.jpeg')}}" class="img-responsive" alt="item">
                </div>
                <button id="map-2" class="btn btn-store" style="margin-top:10px;padding-bottom:20px;line-height:30px;height:33px;">
                    지도 보기
                </button>
            </div>

            <div class="store-info">
                <div class="store-info-name">
                    모래내시장내 착한탕국
                </div>
                <div class="store-info-location">
                    인천광역시 남동구 구월동 1264-35 모래내시장내
                </div>
                <div class="store-info-tel">
                    032-465-8294
                </div>
                <div class="store-info-time">
                    <img src="{{url_for('static',filename='img/store_4.jpeg')}}" class="img-responsive" alt="item">
                </div>
                <button id="map-3" class="btn btn-store" style="margin-top:10px;padding-bottom:20px;line-height:30px;height:33px;">
                    지도 보기
                </button>
            </div>

            <div class="store-info">
                <div class="store-info-name">
                    송화시장동문앞 착한탕국 
                </div>
                <div class="store-info-location">
                    강서구 강서로 261 고려상가 1층 8호 착한탕국 송화시장동문앞
                </div>
                <div class="store-info-tel">
                    02-2692-6956
                </div>
                <div class="store-info-time">
                    <img src="{{url_for('static',filename='img/store_5.jpeg')}}" class="img-responsive" alt="item">
                </div>
                <button id="map-4" class="btn btn-store" style="margin-top:10px;padding-bottom:20px;line-height:30px;height:33px;">
                    지도 보기
                </button>
            </div>

        </div>
        <div class="col-sm-8">
            <div id="map" ></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=1699db5ea9bef75bbae96d025c65cfe7"></script>
<script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
        mapOption = {
            center: new daum.maps.LatLng(37.29170, 126.99957), // 지도의 중심좌표
            level: 4, // 지도의 확대 레벨
            mapTypeId : daum.maps.MapTypeId.ROADMAP // 지도종류
        }; 

    // 지도를 생성한다 
    var map = new daum.maps.Map(mapContainer, mapOption); 

function panTo(latitude, longitude) {
    var moveLatLon = new daum.maps.LatLng(latitude, longitude);
    map.panTo(moveLatLon);
}
$(document).ready(function() {

    // 지도에 마커를 생성하고 표시한다
    var marker = new daum.maps.Marker({
        position: new daum.maps.LatLng(37.29170, 126.99957), // 마커의 좌표
        map: map // 마커를 표시할 지도 객체
    });
    var marker1 = new daum.maps.Marker({
        position: new daum.maps.LatLng(37.370851, 126.938370), // 마커의 좌표
        map: map // 마커를 표시할 지도 객체
    });
    var marker2 = new daum.maps.Marker({
        position: new daum.maps.LatLng(37.549347, 126.863915), // 마커의 좌표
        map: map // 마커를 표시할 지도 객체
    });
    var marker3 = new daum.maps.Marker({
        position: new daum.maps.LatLng(37.454274, 126.720407), // 마커의 좌표
        map: map // 마커를 표시할 지도 객체
    });
    var marker4 = new daum.maps.Marker({
        position: new daum.maps.LatLng(37.549903, 126.835892), // 마커의 좌표
        map: map // 마커를 표시할 지도 객체
    });

    // 마커 위에 표시할 인포윈도우를 생성한다
    var infowindow = new daum.maps.InfoWindow({
        content : '<div style="padding:5px;">정자시장 착한탕국 </div>' // 인포윈도우에 표시할 내용
    });
    var infowindow1 = new daum.maps.InfoWindow({
        content : '<div style="padding:5px;">산본시장내 착한탕국</div>' // 인포윈도우에 표시할 내용
    });
    var infowindow2 = new daum.maps.InfoWindow({
        content : '<div style="padding:5px;">목동시장내 착한탕국</div>' // 인포윈도우에 표시할 내용
    });
    var infowindow3 = new daum.maps.InfoWindow({
        content : '<div style="padding:5px;">모래내시장내 착한탕국</div>' // 인포윈도우에 표시할 내용
    });
    var infowindow4 = new daum.maps.InfoWindow({
        content : '<div style="padding:5px;">송화시장동문앞 착한탕국</div>' // 인포윈도우에 표시할 내용
    });

    // 인포윈도우를 지도에 표시한다
    infowindow.open(map, marker);
    infowindow1.open(map, marker1);
    infowindow2.open(map, marker2);
    infowindow3.open(map, marker3);
    infowindow4.open(map, marker4);
    panTo(37.29170, 126.99957);
});
$('#map-0').click(function() {
    panTo(37.29170, 126.99957);
    window.location.href="#map";
});
$('#map-1').click(function() {
    panTo(37.370851, 126.938370);
    window.location.href="#map";
});
$('#map-2').click(function() {
    panTo(37.549347, 126.863915);
    window.location.href="#map";
});
$('#map-3').click(function() {
    panTo(37.454274, 126.720407);
    window.location.href="#map";
});
$('#map-4').click(function() {
    panTo(37.549903, 126.835892);
    window.location.href="#map";
});
</script>
{% endblock %}
